@font-face {
	font-family: "Garamond";
	src: url("../assets/fonts/EBGaramond-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "GaramondItalic";
	src: url("../assets/fonts/EBGaramond-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "GaramondBold";
	src: url("../assets/fonts/EBGaramond-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "GaramondBoldItalicc";
	src: url("../assets/fonts/EBGaramond-BoldItalic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
