<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    {% feed_meta %}
    {% seo %}
  <body>
    <div class="header">
        <h1 class="site-title"><a href="/">A Collection of Random Nonsense</a></h1>
        <h2 class="site-description">The incoherent thoughts of someone who has it all figured out this time</h2>
    </div>
    <div class="nav-container">
      {% include navigation.html %}
    </div>

    <divc class="main-body-container">
      {{ content }}
    </div>

    <div class="footer">
      <h1><a href="https://github.com/VelikTzar">Made and maintained by VelikTzar.</a> <a href="https://github.com/VelikTzar/acrn">Hosted on GitHub pages.</a></h1>
    </div>


  </body>
</html>
